Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [109]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import time
from selenium.common.exceptions import NoSuchElementException
warnings.filterwarnings("ignore")

In [132]:
driver = webdriver.Chrome(r'C:\Users\SALMA\Downloads\chromedriver_win32\chromedriver.exe')

In [87]:
#driver = webdriver.Chrome('chromedriver.exe')

In [88]:
url = 'https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element_by_xpath("//input[@placeholder='Enter skills / designations / companies']") #search bar
search_job.send_keys("Data Analyst") #Adding "Data Analyst" in search bar

search_job = driver.find_element_by_xpath("//input[@placeholder='Enter location']") #search bar
search_job.send_keys("Banglore") #Adding "Data Analyst" in search bar

search_btn = driver.find_element_by_xpath("//div[@class='qsbSubmit']") #submit button
search_btn.click() #submitting the input

time.sleep(2) #Sleep, just to make sure page will load perfectely 

#defining empty list for data
job_titles=[]
company_names=[]
experience_list=[]
locations_list=[]

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #Job Title
for i in range(0,10):
    job_titles.append(titles_tags[i].text)
    
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") #Company Name
for i in range(0,10):
    company_names.append(companies_tags[i].text)

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span") #Experience
for i in range(0,10):
    experience_list.append(experience_tags[i].text)
    
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span") #Location
for i in range(0,10):
    locations_list.append(locations_tags[i].text)
    
jobs=pd.DataFrame({}) # initializing Dataframe
jobs['Title'] = job_titles
jobs['Company'] = company_names
jobs['Experience'] = experience_list
jobs['Location'] = locations_list
jobs #priniting job details

,Title,Company,Experience,Location
0,Senior Data Analyst,Flipkart,4-6 Yrs,Bengaluru/Bangalore
1,Assistant Clinical Data Analyst,Labcorp Drug Development India Private Limited,0-2 Yrs,Bangalore/Bengaluru
2,Data Analyst,Flipkart,1-2 Yrs,Bengaluru/Bangalore
3,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bengaluru/Bangalore
4,Hiring For Data Analyst,Flipkart,4-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
6,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Data Analyst,Snaphunt,0-2 Yrs,(WFH during Covid)
8,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
9,Data Analyst / Sr. Data Analyst,Vmware,3-6 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [94]:

#getting Url
url = 'https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element_by_xpath("//input[@placeholder='Enter skills / designations / companies']") #search bar
search_job.send_keys("Data Scientist") #Adding "Data Scientist" in search bar
search_loc = driver.find_element_by_xpath("//input[@placeholder='Enter location']") #search bar
search_loc.send_keys("Banglore") #Adding "Banglore" in search bar

search_btn = driver.find_element_by_xpath("//div[@class='qsbSubmit']") #submit button
search_btn.click()

time.sleep(2) #Sleep, just to make sure page will load perfectely 

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in range(0,10):
    job_titles.append(titles_tags[i].text)
    
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_names=[]
for i in range(0,10):
    company_names.append(companies_tags[i].text)

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
locations_list=[]
for i in range(0,10):
    locations_list.append(locations_tags[i].text)
    
job_url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
urls=[]
for i in range(0,10):
    urls.append(job_url[i].get_attribute('href'))
    
description_list=[]
for i in urls:
    driver.get(i)
    try:                  #exception handling for nosuchelementexception
        description_tags=driver.find_element_by_xpath("//div[@class='dang-inner-html']")#locating the description
        description_list.append(description_tags.text.replace("\n",' '))#appending the description in description list
    except NoSuchElementException as e:
        try:                                                      #click the rating link found
            description_tags=driver.find_element_by_xpath("//div[@class='nConfig_textblock ']")
            description_list.append(description_tags.text.replace("\n",' '))
        except NoSuchElementException as e:
            description_list.append("Not found")#appending not found if no description is there
            
jobs=pd.DataFrame({})
jobs['Title'] = job_titles
jobs['Company'] = company_names
jobs['Description'] = description_list
jobs['Location'] = locations_list
jobs

,Title,Company,Description,Location
0,Sr Data Scientist,Siemens,This is your role. What part will you play? Mi...,Bangalore/Bengaluru
1,Senior/Lead Data Scientist - (Revenue Management),o9 Solutions Management India Private Limited,Be part of something revolutionary We have a v...,Bangalore/Bengaluru
2,Senior/Lead - Data Scientist (Supply Chain),o9 Solutions Management India Private Limited,About US Be part of something revolutionary We...,Bangalore/Bengaluru
3,Associate Data Scientist,Shell,"The Role Typically: • Gathers data, analyses a...","Chennai, Bangalore/Bengaluru"
4,Junior Programmer - Data Scientist,GSK India,"In the role, you will: Work in a stimulating a...",Bangalore/Bengaluru
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,Roles and Responsibilities Train machine learn...,Bangalore/Bengaluru
6,Data Scientist: Advanced Analytics,IBM,"Job Description As a Data Scientist at IBM, yo...",(WFH during Covid)
7,Data Scientist: Advanced Analytics,IBM,Job Description Introduction As a Data Scienti...,Bangalore/Bengaluru
8,Sr. Data Scientist,Siemens,Are you looking at developing future leadersCo...,Bengaluru/Bangalore
9,Senior Data Scientist,Slice,Data Scientists help shape slice's credit and ...,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [98]:
url = 'https://www.naukri.com/'
driver.get(url)

search_job = driver.find_element_by_xpath("//input[@placeholder='Enter skills / designations / companies']") #search bar
search_job.send_keys("Data Scientist") #Adding "Data Scientist" in search bar

search_btn = driver.find_element_by_xpath("//div[@class='qsbSubmit']") #submit button
search_btn.click()

time.sleep(2) #Sleep, just to make sure page will load perfectely 

driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i').click() #label Delhi NCR

time.sleep(1)

driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i').click() #label 3-6 lakh

time.sleep(2) #Sleep, just to make sure page will load perfectely 

job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in range(0,10):
    job_titles.append(titles_tags[i].text)
    
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in range(0,10):
    company_names.append(companies_tags[i].text)
    
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in range(0,10):
    locations_list.append(locations_tags[i].text)
    
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span") #Experience
for i in range(0,10):
    experience_list.append(experience_tags[i].text)
    
jobs=pd.DataFrame({})
jobs['Title'] = job_titles
jobs['Company'] = company_names
jobs['Location'] = locations_list
jobs['Experience'] = experience_list
jobs

,Title,Company,Location,Experience
0,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",0-4 Yrs
1,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-3 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,HCL,Delhi / NCR,2-6 Yrs
3,Senior Data Scientist I,Delhivery,Gurgaon/Gurugram,3-7 Yrs
4,Data Scientist,Core Diagnostics Private Limited,Gurgaon/Gurugram(Uday Nagar),2-7 Yrs
5,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",2-6 Yrs
6,Data Scientist,T & A Solutions,(WFH during Covid),2-6 Yrs
7,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,Gurgaon/Gurugram,1-6 Yrs
8,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-6 Yrs
9,Data Scientist role,Mount Talent Consulting Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [124]:
url = 'https://www.flipkart.com/'
driver.get(url)

btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']") #closing login popup
btn.click()

search_job = driver.find_element_by_class_name("_3704LK") #search bar
search_job.send_keys("sunglasses")

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']") #search button
search_btn.click()

time.sleep(4)

Brand=[]
Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    brand_name=driver.find_elements_by_xpath("//div[@class='_4ddWXP']/a[2]")
    for i in brand_name:
        Brand.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='_4ddWXP']/div[1]")
    for i in desc:
        Description.append(i.text)
    glass_price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in glass_price:
        Price.append(i.text)
    prod_disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in prod_disc:
        Discount.append(i.text)
    
    nxt=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)
    
Glass=pd.DataFrame({})
Glass['Brand'] = Brand
Glass['Description'] = Description
Glass['Price'] = Price
Glass['Discount'] = Discount
Glass

     Brand  Description   Price Discount
0      NaN          NaN    ₹720  64% off
1      NaN          NaN    ₹599  80% off
2      NaN          NaN    ₹248  90% off
3      NaN          NaN    ₹200  87% off
4      NaN          NaN    ₹198  84% off
..     ...          ...     ...      ...
115    NaN          NaN  ₹1,599  36% off
116    NaN          NaN    ₹207  79% off
117    NaN          NaN    ₹218  81% off
118    NaN          NaN    ₹103  79% off
119    NaN          NaN    ₹999  50% off

[120 rows x 4 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [127]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

time.sleep(4)

nxt=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
url=[]
for i in nxt:
    url=i.get_attribute('href')
driver.get(url)

time.sleep(4)

Rating=[]
Summary=[]
Full=[]
Discount=[]
for i in range(0,10):
    Ratings=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in Ratings:
        Rating.append(i.text)
    Summarys=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in Summarys:
        Summary.append(i.text)
    Full_desc=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
    for i in Full_desc:
        Full.append(i.text.replace("\n",' '))
    
    nxt=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)
    
Review=pd.DataFrame({})
Review['Rating'] = Rating
Review['Summary'] = Summary
Review['Full Description'] = Full
Review

,Rating,Summary,Full Description
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,5,Awesome,The phone is completely good As far as camera ...
97,3,Decent product,Everything u ll like it when u use this iPhone...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Wonderful,Nice value for money good and best price I pho...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [133]:
url = 'https://www.flipkart.com'
driver.get(url)

search_job = driver.find_element_by_class_name("_3704LK")
search_job.send_keys("sneakers")

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)

Brand=[]
Description=[]
Price=[]
Discount=[]
for i in range(0,3):
    brand_name=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
    for i in brand_name:
        Brand.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in desc:
        Description.append(i.text)
    Shoes_price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in Shoes_price:
        Price.append(i.text)
    prod_disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in prod_disc:
        Discount.append(i.text)
    
    nxt=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)
    
Shoes=pd.DataFrame({})
Shoes['Brand'] = Brand[0:100]
Shoes['Description'] = Description[0:100]
Shoes['Price'] = Price[0:100]
Shoes['Discount'] = Discount[0:100]
Shoes

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=97.0.4692.71)

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [129]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

time.sleep(2)
driver.find_element_by_xpath('//label[@class="common-customCheckbox"]/span[@data-colorhex="black"]').click() #selecting black color

time.sleep(2)
driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]/label/div').click() #filter 6649-13099 price

time.sleep(4)

Brand=[]
Description=[]
Price=[]
for i in range(0,2):
    brand_name=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3") #brand name
    for i in brand_name:
        Brand.append(i.text)
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]") #description of shoes
    for i in desc:
        Description.append(i.text)
    Shoes_price=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]") #shoes price
    for i in Shoes_price:
        a = i.text.split(" ") #splitting by space
        b = a[1][-3:]
        if(b.isnumeric()): #check if it's numeric
            pass
        else:
            a[1] = a[1][:-3]
        Price.append(a[1])
    
    nxt=driver.find_elements_by_xpath("//a[@rel='next']") #next button
    url=[]
    for i in nxt:
        url=i.get_attribute('href')
    time.sleep(2)
    driver.get(url)
    
Shoes=pd.DataFrame({})
Shoes['Brand'] = Brand
Shoes['Description'] = Description
Shoes['Price'] = Price
Shoes

             Brand                          Description  Price
0             Puma            Men Magnify Nitro Running   7799
1          Saint G            Men Mid-Top Chelsea Boots   9810
2             Puma          Men Electrify Nitro Running   7499
3          Bugatti                    Men Running Shoes   7999
4      RARE RABBIT               Men Leather Flat Boots   7999
..             ...                                  ...    ...
95         Saint G              Leather Block Peep Toes   9450
96         Saint G  Striped Suede Flatform Heeled Boots   8910
97  Onitsuka Tiger          Women Perforations Sneakers   8999
98            Geox            Men Leather Driving Shoes   9499
99       Cole Haan          Men Wingtip Oxford Sneakers  12999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [131]:
url = 'https://www.amazon.in'
driver.get(url)

search_lap = driver.find_element_by_id("twotabsearchtextbox") #search box
search_lap.send_keys("Laptop")

time.sleep(2)

search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']") #submitting Laptop
search_btn.click()

time.sleep(2)

driver.find_element_by_xpath('//li[@aria-label="Intel Core i7"]/span/a/div/label').click() #adding condition for Intel Core i7

Name=[]
Lap_name=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']") #Laptop name
for i in Lap_name:
    Name.append(i.text)
    
Ratings=[]
Price=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:5]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
    except NoSuchElementException as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there
    try:                                                      #click the rating link found
        Lap_price=driver.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        Price.append(Lap_price.text)
    except NoSuchElementException as e:
        Price.append("NAN")#appending the No rating if no rating is there

Laptop=pd.DataFrame({})
Laptop['Name'] = Name[0:5]
Laptop['Rating'] = Ratings
Laptop['Price'] = Price

url = 'https://www.amazon.in'
driver.get(url)

search_lap = driver.find_element_by_id("twotabsearchtextbox")
search_lap.send_keys("Laptop")

time.sleep(2)

search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_btn.click()

time.sleep(2)

try:
    driver.find_element_by_xpath('//li[@aria-label="Intel Core i9"]/span/a/div/label').click() #adding condition for Intel Core i9
except NoSuchElementException as e:
    print(e)
    
time.sleep(2)

Name=[]
Lap_name=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in Lap_name:
    Name.append(i.text)
    
Ratings=[]
Price=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:5]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
    except NoSuchElementException as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there
    try:                                                      #click the rating link found
        Lap_price=driver.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        Price.append(Lap_price.text)
    except NoSuchElementException as e:
        Price.append("NAN")#appending the No rating if no rating is there
        
Laptops=pd.DataFrame({})
Laptops['Name'] = Name[0:5]
Laptops['Rating'] = Ratings
Laptops['Price'] = Price

Frames = [Laptop,Laptops]

result = pd.concat(Frames,ignore_index=True, sort=False)

result

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@aria-label="Intel Core i7"]/span/a/div/label"}
  (Session info: chrome=97.0.4692.71)